.pager
{
    width: 100%;   /*30 09 16 - GF - this matches width to right edge of 'Search' button exactly*/
    height: 30px;
    padding: 0px;
    margin: 0px;
    margin-top: 5px;
    padding-top: 0.5px;
    padding-left: 10px; /*border-radius: 8px; 	-moz-border-radius: 8px;*/
}
.pager div.short
{
    float: right;
	display: none;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 74px;
}
.pager div.short input
{
    width: 28px;
    height: 18px;
    border: none;
    margin-left: 8px;
    float: left;
}
.pager ul
{
    list-style: none;
	width:65%;  /*300916  GF to handle when there are >9 pages */
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 4px;
}
.pager ul li
{
    display: inline;
    margin-left: 0px;
}
.pager ul li a
{
    text-decoration: none;
    display: inline-table;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 4px;
    -moz-border-radius: 4px;
}

.pager span
{
    margin-left: 4px;
    color: White;
    float: left;
}
.pager .btn
{
    display: block;    /* GF - disappear this..was 'block'*/
    width: 30px;   /*was 40px */
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 4px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.pager .disabled
{
    color: #A0A0A0 !important;
    text-shadow: 1px 1px 1px #FFFFFF;
}
/*green*/.green
{
    background-color: #DBE6AF;
}
.green.normal
{
    background-color: #FFFFFF;
    color: #6D7696;
	font-size:1.4vw;
    border: solid 1px #DBE6AF;
    padding-left: 2px;
    margin: 2px;
}
.green.active
{
    background-color: #EDB579;
    color: white;
    border: solid 1px #DBE6AF;
}
.pager.green .btn
{
    background-color: #FFFFFF;
    color: #6D7696;
    border: solid 1px #DBE6AF;
}

